<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Nombre del usuario: {{user.first_name}}</h1>
        <h2>Saldo del usuario: </h2>

        <p> <a href="{% url 'users:login' %}">iniciar sesion</a> </p> 

        <p> <a href="{% url 'transactions:deposito' %}">depositar</a> </p> 

        <form method="POST" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button type="submit">Cerrar sesión</button>
        </form>
    
    </body>
</html>